@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,800&display=swap');
body{
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    background-image: url(1.jpg);
    background-attachment: fixed;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#whole{
    margin: 5px 200px;
    height: auto;
    overflow: auto;
    background-color: white;
}
/*Navigation_bar*/
#Navigation_bar{
    background-color: green;
    color: white;
    margin-top: 10px;
}
#Navigation_bar ul{
    text-align: center;
    font-size: 35px;
}
#Navigation_bar ul li{
    display: inline-block;
}
#Navigation_bar a{
    text-decoration: none;
    color: white;
    margin: 5px;
}
#Navigation_bar a:hover{
    color: #bbbbbb;
}
/*Content*/
#Container{
    height: auto;
    background-color: white;
}
#Container h1{
    text-align: center;
    font-size: 50px;
    color: green;
}
#Container p{
    color: green;
    text-align: center;
    overflow: auto;
}
#section{
    text-align: center;
    padding: 20px;
    overflow: auto;
}
.items{
    display: inline-block;
    height: 550px;
    width: 344px;
    margin: 0 20px 20px;
    background-color: white;
    overflow: auto;
    box-shadow: 5px 10px 25px black;
}
.items:hover{
    margin-bottom: 10px;
    transition: ease-in 0.3s;
}
/*Footer*/
footer{
    background-color: green;
    padding: 70px;
}
.container{
    max-width: 1170px;
    margin: auto;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer_col{
    width: 25%;
    padding: 0px 25px;
}
.footer_col h4{
    font-size: 18px;
    text-transform: capitalize;
    color: white;
    margin-bottom: 35px;
    font-weight: 500px;
    position: relative;
}
.footer_col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: white;
    height: 2px;
    width: 50px;
    box-sizing: border-box;
}
.footer_col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer_col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    color: white;
    transition: all 0.3s ease;
}
.footer_col ul li a:hover{
    color: white;
    padding-left: 8px;
}
.footer_col .social_links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all 0.5s ease;
}
.footer_col .social_links a:hover{
    color: green;
    background-color:white;
}
/*responsive*/
@media(max-width: 767px){
    .footer_col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
    .footer_col{
    width: 100%;
}
}
/*Login page*/
#page{
    overflow: auto;
    margin: 150px 0; 
    text-align: center;
  }
  #Login{
    display: inline-block;
    height: 600px;
    width: 400px;
    background-color: white;
    overflow: auto;
    text-align: center;
  }
  #Login img{
    margin: 5px;
    width: 300px;
    height: 200px;
  }
  button {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100px;
  }
  
  button:hover {
    opacity: 0.8;
  }
/*home*/
#name{
    padding-left: 80px;
}